% vim: set ft=erlang expandtab softtabstop=4 shiftwidth=4:
[
    {erlwitness, [
            {entity_lookup_module, erlwitness_index_serv},
            {erlwitness_index_serv_count, 2}
            ]},

    {lager, [
            {handlers, [
                    {lager_console_backend, emergency}
                    ]}
            ]}
    ].
